.info__header{
    font-weight: 700;
    font-size: 50px;
}

.info__header,
.info__promo {
    margin: 2vw;
    color: #000;
}

.info__promo {
    font-size: 18px;
}

.info__btn {
    padding: 5px 25px;
    font-size: 25px;
    font-weight: 600;
}

.footer{
    position: relative;
    top: -7vh;
}

.background {
    width: 750px;
    height: 600px;
}

.guy {
    margin-top: -590px;
    margin-left: 40px;
}