.promo {
	margin: 2vw;
	color: #000;
	font-weight: 800;
    text-transform: uppercase;
}

.card {
	width: 20rem;
}

.card__background {
	width: 320px;
	height: 233px;
	margin-bottom: -230px;
	background-color: #ec615b;
}

.card-img-top {
	height: 15rem;
}

.card-noimage {
	height: 12rem;
}

.card-title {
	width: 300px;
	color: black;
}

.form {
	width: 20rem;
	height: 11rem;
	background-color: #ec615b;
	padding-top: 10px;
	margin-bottom: 2vw;
}

.form-group__title {
	margin-left: 15px;
	color: white;
}

.form-control {
	margin-left: 15px;
	width: 18rem;
}

.form-group__title,
.card-title {
	font-weight: 800;
	font-size: 25px;
    text-transform: uppercase;
}

.form__btn {
	font-weight: 500;
	font-size: 13px;
	padding: 5px 15px;
}

.card__text,
input[type="email"]::-webkit-input-placeholder {
	color: black;
}

.footer{
	margin: 5vh 0;
}
