.footer {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-top: 1px solid #F3F3F3;
    font-family: CothamSans;
}

.footer__left-block {
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
}

.footer__left-block-logo {
    font-size: 30px;
}

.footer__left-block-author {
    font-size: 14px;
    align-self: center;
    margin-left: 10px;
}

.footer__right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__right-block-openinfo {
    font-size: 16px;
}

.footer__right-block-openinfo-img {
    padding-right: 30px;
    padding-left: 6px;
    padding-top: 5px;
}

.footer__right-block-language {
    width: 30px;
    margin-right: 60px;
}

.footer__right-block-language__russian-version {
    color: #FD4300;
}

.heart {
    display: flex;
    align-self: center;
    height: 14px;
    width: 14px;
    margin-left: 5px;
}

a {
    text-decoration: none;
}