@media (min-width: 376px) and (max-width: 767px) {

    .footer,
    .header__left-block-description,
    .navigation__menu_hidden-md,
    .navigation__menu_hidden-sm {
        display: none;
    }

    .header__left-block {
        padding-left: 11px;
    }

    .header__right-block-language {
        width: 30px;
        margin-right: 11px;
    }

    .header__right-block-search-img {
        padding-right: 20px;
    }

    .header__right-block-openinfo-img {
        padding-right: 20px;
    }

    .navigation {
        padding-left: 1px;
    }

}